@charset 'utf-8';
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure,figcaption{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
ul,ol,li{list-style:none;}
b,strong{font-weight:normal;}
em,i{font-style:normal;}
a,u{text-decoration: none;}
img{border:0;display:block;}
input{outline:none;}
*{box-sizing:border-box;}
html,body{ height: 100%;font-family: "微软雅黑";}
.clearfix::before, .clearfix:after{ content:''; display: table}
body{
    height: 4000px;
}
.fl{
    float: left;
}
/* 顶部 */
.header{
    width: 100%;
    height: 90px;
    overflow: hidden;
    display: block;
    float: left;
}
.header .head{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}
.header .head .open{
    display: block;
    position: relative;
    width: 1920px;
    text-align: center;
    left: 50%;
    margin-left: -960px;
    cursor: pointer;
}
.header .head .close{
    position: absolute;
    width:24px;
    height: 24px;
    right: 0;
    top: 10px;
    color: #ffffff;
    overflow: hidden;
    background: url(https://res.vmallres.com/20181205/images/echannel/icon/icon1.png) no-repeat;
    background-position: 0 -385px;
}

/* 导航栏 */
.nav{
    float: left;
    width: 100%;
    height: 40px;
    background: #f8f8f8;
}
.nav .nav-1{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}
.nav .nav-1 li{
    float: left;
    padding: 0 8px;
    position: relative;
}
.nav .nav-1 li::before{
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    background: #d3d3d3;
}
.nav .nav-1 li a{
   color: #a4a4a4;
   font-size: 12px;
   line-height: 40px;
}
.nav .nav-1 li a:hover{
    color: #ac042d;
}
/* 左导航 */
.nav .nav-1 .nav-left{
    float: left;
}
.nav .nav-1 li:first-child{
    padding-left: 0px;
}
/* 右导航 */
.nav .nav-1 .nav-right{
    float: right;
}
.nav .nav-1 .nav-right .iconfont{
    font-size: 18px;
    color: #767676;
    line-height: 36px;
}
.nav .nav-1 .nav-right .s2{
    display: none;
}
.nav .nav-1 .nav-right li:hover .iconfont{
    display: none;
}
.nav .nav-1 .nav-right li:hover .s2{
    color: red;
    float: right;
    display: block;
}
.nav .nav-1 .nav-right .s3:hover{
    background: #fefefe;
}
.nav .nav-1 .nav-right .b{
    background: #fefefe;
    position: absolute;
    top: 40px;
    right: 0;
    border-radius: 0 0 8px 8px;
    display: none;
    box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
    z-index: 1000;
}
/* 客户服务 */
.nav .nav-1 .nav-right .b .b-server{
    width: 80px;
    padding: 3px 0 10px 0;
    text-align: center;
}
.nav .nav-1 .nav-right .b .b-server a{
    line-height: 32px;
}
/* 网址导航 */
.nav .nav-1 .nav-right .b .b-nav{
    width: 893px;
    color: #777;
}
.nav .b-nav .b-nav-1{
    float: left;
    width: 50px;
    margin: 37px 46px 0 49px;
    color: #777777;
}
.nav .b-nav .b-nav-1 a{
    line-height: 20px;
}
.nav .b-nav .b-nav-1::before{
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  margin-bottom: 3px;
  background: url(https://res.vmallres.com/20181205/images/echannel/icon/icon-header.png) no-repeat;
  background-position: -41px 0;
}
.nav .b-nav dl{
    float: left;
    width: 185px;
    margin-top: 22px;
    margin-bottom: 20px;
}
.nav .b-nav dl dt{
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-bottom: 8px;
}
.nav .b-nav dl .item{
    float: left;
    width: 80px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav .nav-1 .b-nav dl a{
    line-height: 20px;
}
/* 手机版 */
.nav .nav-right .b-phone{
    width: 244px;
    padding: 20px 0 20px 0;
}
.nav .nav-right .b-phone .phone{
    width: 244px;
    height: 111px;
    padding-left: 24px;
    padding-bottom: 20px;
    border-bottom:1px solid #e5e5e5; 
    margin-bottom: 20px;
}
.nav .nav-right .b-phone .phone img{
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 12px;
}
.nav .nav-right .b-phone .phone-shopping{
    float: left;
    line-height: 18px;
}
.b-phone .phone-shopping h2{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
}
.b-phone .phone-shopping .p1{
    color: #cb242b !important;
    line-height: 16px;
    font-size: 12px;
}
.b-phone .phone-shopping span{
    width: 32px;
    height: 32px;
    display: block;
    margin-top: 5px;
}
.b-phone .phone-shopping span.icon-andrid{
    background: url(https://res.vmallres.com/20181205/images/echannel/icon/icon-header.png) no-repeat;
    background-position: -484px 0;
}
.b-phone .phone-shopping p{
    color: #777;
    font-size: 12px;
}
.b-phone .phone-shopping span.icon-andrid1{
    background: url(https://res.vmallres.com/20181205/images/echannel/icon/icon-header.png) no-repeat;
    background-position: -518px 0;
}
.nav .b-phone .phone:nth-of-type(3){
    border-bottom:none; 
}

/* 购物车 */
.nav .gouwu{
    color: #3a3a3a;
}
.nav .gouwu-1{
    width: 460px;
    text-align: center;
    color: #a4a4a4;
    font-size: 14px;
    padding: 50px 0 50px;
}
.nav .gouwu .gouwu-1 .icon-icon1{
    background: url(https://res.vmallres.com/20181205/images/echannel/icon/icon-header.png) no-repeat;  
    width: 100px;
    height: 100px;
    padding-left: 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    background-position: 0 -166px;
}


/* 选项栏 */
.option{
    float: left;
    width: 100%;
    height: 75px;
}
.option .option-1{
    width: 1200px;
    height: 75px;
    margin: 0 auto;
    padding:18px 0 23px 0;
}
.option .option-2{
    width: 1200px;
    margin: 0 auto;
}
.option .option-1 .logo{
    float: left;
    width: 202px;
    margin-right: 37px;
}
.option .option-1 .logo img{
    height: 33px;
} 
.option .option-2 .option-nav{
    float: left;
    width: 560px;
    height: 40px;
}
.option .option-2 .option-nav li{
    margin: 7px 22px 0 0;
    float: left;
}
.option .option-2 .option-nav li img{
    height: 24px;
}
.option .option-2 .option-nav .l1 a{
    font-size: 16px;
    line-height: 24px;
    color: #333;
    display: block;
    height: 30px;
}
.option .option-2 .option-nav .l1:hover a{
    color: #ca141d;
    border-bottom:2px solid #ca141d; 
}

/*  轮播图*/
.banner{
    float: left;
    width: 100%;
    height: 550px;
    overflow: hidden;
    position: relative;
    border-radius: 0 0 10% 10%;
}
.banner .banner-box{
    width: 1263px;
    height: 550px;
    overflow: hidden;
}
.banner .banner-box ul{
    width: 1263px;
    height: 550px !important;
    position: relative;
}
.banner .banner-box ul li{
    position: absolute;
    top: 0;
    left: 0;
}
.banner .banner-box ul li img{
   margin-left:-340px;
}
.banner .list{
    position: absolute;
    top: 450px;
    right: 90px;
}
.list a{
    float: left;
    font-size: 10px;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border:1px solid #fff;
    border-radius: 50% 50%;
}
.list a.active{
    background: #ffffff;
}
/* 轮播图按钮 */
.list1{
    position: absolute;
    width: 970px;
    height: 70px;
    left: 240px;
    top: 240px;
    background: chocolate;
    z-index: 10;
}
.left-arrow {
    position: absolute;
    left: 220px;
    top: 40%;
    width: 70px;
    height: 70px;
    font-size: 30px;
    opacity: 0.3;
    background: url(https://res.vmallres.com/20181205/images/echannel/icon/icon-header.png) no-repeat;
    background-position: -340px 0;
}
.right-arrow {
    position: absolute;
    right: 70px;
    top: 40%;
    width: 70px;
    height: 70px;
    font-size: 50px;
    text-align: center;
    line-height: 20px;
    opacity: 0.3;
    background: url(https://res.vmallres.com/20181205/images/echannel/icon/icon-header.png) no-repeat;
    background-position: -100px 0;
}
/* 选项栏分类 */
.option-tab{
    position: absolute;
    left: 35px;
    top: 18px;
    width: 200px;
    z-index: 99;
    
}
.option-tab .tab ol{
    position: relative;
    height: 440px;
    box-shadow: 0 0 46px rgba(252, 161, 161, 0.03);
}
.option-tab .tab ol .tab-li{
    height: 74px;
    background: rgba(255,255,255,0.9);
    border-bottom: 1px solid #cccccc; 
}
.option-tab .tab ol .tab-li a:hover{
   color: red;
}
.option-tab .tab ol .tab-li:first-child{
    border-radius: 10px 10px 0 0 ;
}
.option-tab .tab ol .tab-li:last-child{
    border-radius:0 0 10px 10px  ;
}
.option-tab .tab-info{
    padding: 12px 0 13px 25px;
    margin: 0;
    height: 47px;
    position: relative;
}
.option-tab .tab-info .tab-title{
    margin-bottom: 2px;
}
.option-tab .tab-info .tab-title a{
    font-size: 16px;
    color: #848488;
}
.option-tab .tab-info a{
    color: #a6a6a6;
    margin-right: 9px;
    font-size: 14px;
}
.tab-box{
    position: absolute;
    left: 200px;
    top: 18px;
    height: 443px;
    background: #fff;
    padding: 24px 30px 0 28px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 46px rgba(0,0,0,0.1);
    top: 0;
    z-index: 100;
    overflow: hidden;
    display: none;

}
.tab-box.tab-box1{
    width: 680px;
}
.tab-box.tab-box2{
    width: 250px;
}
.tab-box.tab-box3{
    width: 880px;
}
.tab-box.tab-box4{
    width: 500px;
}
.tab-box ul{
    width: 204px;
    /* height: 418px; */
    margin: 0;
    float: left;
}
.tab-box ul .tab-box-li{
    float: left;
    margin-bottom: 24px;
}
.tab-box ul .tab-box-li:hover{
    border-radius: 10% 10% 10% 10%;
    background: #f8f8f8;
}
.tab-box ul .tab-box-li a{
    display: block;
    width: 204px;
    height: 80px;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 0;
}
.tab-box ul .tab-box-li a img{
    width: 56px;
    height: 56px;
    float: left;
    margin: 12px 6px 0 6px;
}
.tab-box ul .tab-box-li a span{
    float: left;
    color: #777;
    font-size: 13px;
    margin-top: 30px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 
.tab-box-btn{
    float: left;
}
.tab-box-btn a{
    width: 112px;
    height: 42px;
    line-height: 42px;
    margin-top: 18px;
    margin-left: 36px;
    border: 1px solid #f2f2f2;
    border-radius: 0 22px 22px 0;
    font-size: 13px;
    color: #a7a7a7;
    display: block;
    position: relative;
    text-indent: 34px;
}
.tab-box-btn a::before{
    content: "";
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #f2f2f2;
    display: block;
    border-radius: 22px;
    position: absolute;
    top: -1px;
    left: -22px;
}
.tab-box-btn a::after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid #c0c0c0;
    position: absolute;
    top: 16px;
    left: -1px;
}

/*  内容的顶部 */
.home-menu{
    width: 100%;
    float: left;
    position: relative;
}
.home-menu .home-menu-list{
    width: 1200px;
    margin: 0 auto;
}
.h{
    float: left;
    margin-bottom: 10px;
}
.home1{
    position: relative;
}
.home1 .h .home-main{
    position: relative;
    top: -72px;
    height: 34px;
}
/* 登录 / 注册列表 */
.home1 .h .home-main ul.b{
    width: 1200px;
    height: 88px;
    background: #fff;
    text-align:center;
    border-radius: 10px;
    position: absolute;
    z-index: 200;
    box-shadow: 0 2px 26px rgba(0,0,0,0.07);
}
.home1 .h .home-main .s1{
    float: left;
    position: relative;
    width: 270px;
    height: 55px;
    margin-top: 17px;
    border-right: 1px solid #ededed;
}
.home1 .h .home-main .s1 .s1-1{
    padding: 0;
    padding-left: 26px;
    text-align: left;
    color: #3a3a3a;
}
.home1 .h .home-main .s1 .s1-1 .s1-h{
    width: 52px;
    height: 52px;
    margin-right: 17px;
    float: left;
}
.h .home-main .s1 .s1-1 .s1-h img{
    width: 52px;
    height: 52px;
    border-radius: 50% 50%;
}
.h .home-main .s1 .s1-1 .s1-o{
    float: left;
}
.lo{
    margin-top: 1px;
    font-size: 14px;
    color: #999;
}
.lo a,span{
    color: #333;
}
.go{
    margin-top: 6px;
}
.go .go-g{
    width: 66px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #fff;
    border: 1px solid #e47b7f;
    color: #de5b60;
    margin-right: 8px;
    font-size: 13px;
    display: inline-block;
    border-radius:5px;
    font-size: 13px; 
}
.go .go-o{
    display: inline-block;
    width: 68px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    background: #595454;
    color: #fde4b3;
    border-radius: 5px;
    font-size: 13px;
}
.lo a:hover {
    color: #e47b7f;
}
.go .go-g:hover{
    color: white;
    background: #e47b7f;
}
/* 企业换购 */
.home1 .h .s2{
    float: left;
    position: relative;
    width: 660px;
    margin-top: 17px;
}
.home1 .h .s2 ul{
    display: table;
    width: 100%;
}
.home1 .h .s2 ul li{
    text-align: center;
    display: table-cell;
    float: none;
    width: 104px;
    position: relative;
}
.home1 .h .s2 ul li a{
    text-align: center;
    width: 100%;
    min-width: 48px;
    max-width: 84px;
    margin: 0 auto;
}
.home1 .h .s2 ul li a .p-img{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.home1 .h .s2 ul li a .p-img img{
    position: absolute;
    width: auto;
    width: auto;
}
.home1 .h .s2 ul li a .p-img .img1{
    left: 0;
}
.home1 .h .s2 ul li a .p-p{
    line-height: 24px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #777;
    font-size: 13px;
}
.home1 .h .s2 ul li a .p-img .img2{
    left: -40px;
}
.home1 .h .s2 ul li a .p-img .img3{
    left: -80px;
}
.home1 .h .s2 ul li a .p-img .img4{
    left: -120px;
}
.home1 .h .s2 ul li a .p-img .img5{
    left: -160px;
}
.home1 .h .s2 ul li a .p-img .img6{
    left: -200px;
}
.home1 .h .s2 ul li:hover a .p-p{
    color: #de5b60;
}
/* 公告栏 */
.home1 .h .s3{
    width: 266px;
    height: 88px;
    border-left: 1px solid #ededed;
    float: left;
    position: relative;
}
.home1 .h .s3 .p-pp{
    height: 43px;
    border-bottom: 1px solid #e5e5e5;
}
.home1 .h .s3 .p-pp .p-pp1{
    float: left;
    display: block;
    font-weight: bold;
    margin: 10px 8px 0 17px;
}
.home1 .h .s3 .p-pp .p-pp1 a{
    color: #777;
    font-size: 14px;
}
.home1 .h .s3 .p-pp .p-pp2{
    height: 43px;
    overflow: hidden;
    text-align: left;
    width: 190px;
    position: relative;
}
.home1 .h .s3 .p-pp .p-pp2 .cp{
    /* height: 258px; */
    float: left;
}
.home1 .h .s3 .p-pp .p-pp2 .cp li{
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 43px;
    line-height: 43px;
    font-size: 12px;
}
.home1 .h .s3 .p-pp .p-pp2 .cp li a{
    color: #6f6f6f;
}
.home1 .h .s3 .p-pp .p-pp2 .cp li:first-child{
    transition: margin-top .8s;
}
.home1 .h .s3 .p-pp .p-pp2 .cp li a:hover{
    color: #de5b60;
}
.home1 .h .s3 .p-p1 li{
    height: 42px;
    line-height: 42px;
    width: 88px;
    float: left;
    position: relative;
}
.home1 .h .s3 .p-p1 li a{
    display: block;
    color: #666;
    font-size: 13px;
}
.home1 .h .s3 .p-p1 li a:hover{
    color: #de5b60;
}
.home1 .h .s3 .p-p1 li a span{
    margin-right:2px;
    display:  inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    top: 5px;
    overflow: hidden;
}
.home1 .h .s3 .p-p1 li a span img{
    width: auto;
    width: auto;
    position: absolute;
}
.home1 .h .s3 .p-p1 li a span .img6{
    left: -240px;
}
.home1 .h .s3 .p-p1 li a span .img7{
    left: -260px;
}
.home1 .h .s3 .p-p1 li a span .img8{
    left: -280px;
}
/* 手机展示 */
.home .h .hh{
    margin-bottom: 13px;
}
.home .h .hh li:first-child{
    margin: 0 1px 0 0;
}
.home .h .home-main1 .hh .h1{
    float: left;
    margin-left: 13px;
    width: 290px;
    height: 200px;
    border-radius: 20px;
    transition: all .2s linear 0s;
}
.home .h .hh .h1 a{
    display: block;
    height: 200px;
}
.home .h .hh .h1 a img{
    width: 290px;
    height: 200px;
    border-radius: 10px;
}

/* 热销产品 */
.hot-products{
    float: left;
    margin-top: 15px;
}
.home-menu .home1 .hot{
    width: 1200px;
}
.home-menu .home1 .hot .hot1{
    position: relative;
}
.home-menu .home1 .hot h2{
    font-size: 26px;
    color: #333;
    padding: 27px 0 13px 0;
}

.products{
    height: auto;
    position: relative;
    width: 1200px;
}
.products .pro{
    width: 231px;
    border-radius: 10px;
}
.products .pro .pro1{
    border-radius: 10px;
    margin: 0 0 0 -10px;
    
}
.products .pro .pro1 .pro2{
    margin: 0 0 12px 12px;
    border-radius: 10px;
    float: left;
    height: 592px;
}
.products .pro .pro1 .pro2 a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.products .pro .pro1 .pro2 a img{
    width: 230px;
    height: 592px;
    border: 0 none;
    border-radius: 10px;
}
.products .pro .pro2:hover{
    transform: none;
    box-shadow: 0 12px 36px rgba(0,0,0,0.1);
}

.products .duct{
    width: 968px;
}
 .duct-d{
    position: relative;
    float: left;
    width: 228px;
    height: 290px;
    background: #f9f9f9;
    border-radius: 10px;
    margin-left: 12px;
    margin-bottom: 12px;
    margin-top: 0;
    transition: all .2s linear 0s;
}
.duct-d1{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}
 .duct-d1-s{
    width: 150px;
    height: 150px;
    margin: 35px auto 0;
}
.duct-d .duct-d1-s img{
    width: 150px;
    height: 150px;
}
.duct-title{
    width: 210px;
    display: block;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    color: #3a3a3a;
    vertical-align: bottom;
    padding: 0;
    margin-top: 12px;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.duct-desc{
    color: #777;
    line-height: 18px;
    padding: 0 10px;
    margin: 4px 20px 6px;
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.duct-price{
    color: #d0021b;
    line-height: 21px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.duct-d:hover{
    transform: none;
    box-shadow: 0 12px 36px rgba(0,0,0,0.1);
}
.duct-top{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 48px;
    /* right: 35px; */
}
.duct-tip{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 400;
}
.duct-tip .sp{
    background: #ff8486;
    display: inline-block;
    padding: 0 9px;
    margin: 0 auto;
    height: 22px;
    line-height: 22px;
    color: #fff;
    border-radius: 0 0 6px 6px;
    text-align: center;
    font-size: 12px;
}
.duct-d:nth-child(4) .duct-top{
    display: none;
}
.duct-d:nth-child(6) .duct-top{
    display: none;
}
#pro5 .duct-tip .sp, #pro8 .duct-tip .sp{
    background: #68BEFF;
}

/* 精品推荐 */
.quarity{
   float: left;
   width: 1200px;
}

 .h{
    position: relative;
    float: left;
} 
.h h2{
    float: left;
    font-size: 26px;
    color: #333;
    padding: 27px 0 0 0;
    line-height: 1;
    font-weight: 400;
}
.b{
    float: left;
    position: relative;
    /* width: 1200px; */
    height: auto;
}
 .b .b1{
    width: 1210px;
    height: 300px;
    padding-top: 16px;
    position: relative;
    margin-bottom: 8px;
    left: -5px;
    overflow: hidden;
}
 .b .b1 .lity{
    position: relative;
    float: left;
    width: 230px;
    height: 290px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 12px;
    margin-top: 0;
    transition: all .2s linear 0s
}
 .b .b1 .lity .lity1:hover{
    transform: none;
    box-shadow: 0 12px 36px rgba(0,0,0,0.1);
}
 .qu{
  width: 1200px;
  height: 295px;
}
.a1{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #3a3a3a;
}
 .lity1{
    float: left;
    width: 230px;
    height: 205px;
    margin: 0 auto;
    background: #fff;
    padding-top: 36px;
    border-radius: 10px;
    box-shadow: 0 1px 8px #0000000f;
    transition: all .2s linear 0s;
}
 .lity1 .lity-img{
    display: block;
    margin: 0 auto;
    margin-bottom: 19px;
    width: 150px;
    height: 150px;
}
.lity1 .lity-img img{
    width: 150px;
    height: 150px;
}
.p-desc{
    font-size: 14px;
    line-height: 36px;
    padding: 0 10px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 200px;
    width: 230px;
    background: #f3f3f3;
    color: #777;
    margin: 0;
}
.p-title{
    font-size: 14px;
    font-weight: 400;
    margin: 16px 20px 2px;
    overflow: hidden;
    color: #3a3a3a;
    height: 40px;
    display: table-cell;
    vertical-align: bottom;
    width: 259px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 35px;
}
.p-price{
    color: #cc0e11;
    line-height: 28px;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}
.p-top{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 48px;
    right: 35px;
}
.p-tip{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.p-span{
    background: #FF6A6E;;
    display: inline-block;
    padding: 0 9px;
    margin: 0 auto;
    height: 22px;
    line-height: 22px;
    color: #fff;
    border-radius: 0 0 6px 6px;
    font-size: 12px;
}

div{
    display: block;
}
/* 商品列表 */
.shopping{
    float: left;
    width: 100%;
    min-width: 1200px;
    position: relative;
    overflow: hidden;
}

.shop{
    margin: 0 auto;
    width: 1200px;
    height: 977px;
    position: relative;
}
/* 手机 */
.shopping .phone{
    width: 1200px;
    float: left;
    height: 977px;
}
.ph1{
    margin-left: 28px;
    max-width: 950px;
    height: 32px;
    overflow: hidden;
    margin-top: 25px;
}
.ph1 a{
    font-size: 14px;
    color: #999;
    margin-left: 0;
    margin-right: 24px;
    line-height: 32px;
}
.ph1 a:hover{
    color: #d0021b;
}
.ph1 li{
    float: left;
    font-size: 12px;
}
/* 笔记本 */
.computer{
    width: 1200px;
    height: 675px;
    float: left;
}
.img1{
    width: 230px;
    height: 290px;
    border-radius: 10px;
}
/* 精品平板 */
.flat{
    width: 1200px;
    height: 675px;
    float: left;;
}
/* 智能穿戴 */
.smart{
    width: 1200px;
    height: 933px;
    float: left;;
}

.wearer{
    width: 1200px;
    height: 240px;
    position: relative;
}

.wear{
    float: left;
    width: 200px;
    height: 240px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0;
    background: 0;
    margin: 0;
    position: relative;
}
.wear a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #3a3a3a;
}
.wear-info{
    width: 190px;
    height: 156px;
    padding-top: 34px;
    background: #f9f9f9;
    box-shadow: none;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    transition: all .2s linear 0s;
}
.wear-img{
    width: 120px;
    height: 120px;
    margin-bottom: 0;
    margin:0 auto;
}
.wear-img img{
    width: 120px;
    height: 120px;
}
.wear-title{
    width: 190px;
    height: 21px;
    text-align: center;
    font-size: 14px;
    /* margin-left: 8px; */
    font-weight: 400px;
    vertical-align: bottom;
    line-height: 21px;
    margin-top: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}
.wear-desc{
    display: block;
    width: 190px;
    top: 156px;
    line-height: 32px;
    height: 32px;
    background: #f3f3f3;
    color: #777;
    font-size: 12px;
    margin: 0;
    padding: 0 10px;
    border-radius: 0 0 10px 10px;
    position: absolute;
}
.wear-price{
    color: #d0021b;
    line-height: 21px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
}
/* 智能家居 */
.home{
    width: 1200px;
    height: 933px;
    float: left;;
}

.zh{
    float: left;
    width: 1200px;
    height: 27px;
}
/* 智慧生活馆的图片 */
.life{
    width: 1200px;
    background: #fff;
    float: left;;
}
.life-li{
    width: 1200px;
    height: 120px;
    margin:0 auto;
}
.life-img{
    width: 1200px;
    height: 120px;
    border-radius: 10px;
}
.life-img img{
    border-radius: 10px;
}
.zh1{
    width: 1200px;
    height: 13px;
    float: left;
}
/* 热销配件 */
.selling{
    width: 1200px;
    height: 933px;
    float: left;;
}
/* 品牌配件 */
.brand{
    width: 1200px;
    height: 933px;
    float: left;;
}
/* 新人见面礼 */
.metting{
    width: 100%;
    height: 260px;
    float: left;
}
.mett{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
}
.mett img{
    border-radius: 10px;
}
.kong{
    width: 100%;
    height: 60px;
}
/* 底部 */
.footer{
    width: 100%;
    float: left;
}
/* 保障 */
.container{
    width: 100%;
    height: 82px;
    float: left;
    background: #f9f9f9;
}
.cont{
    width:1200px;
    height: 82px;
    margin: 0 auto;
    padding: 22px 0 20px;
    border-bottom:1px solid #ccc; 
}
.cont li{
    display: table-cell;
    font-size: 18px;
    color: #333;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    float: left;
}
.cont1{
    padding-right: 135px;
}
.cont2{
    padding-right: 130px;
}
.cont3{
    padding-right: 110px;
}
.cont ul li a{
    text-align: center;
    padding-left:  40px;
    color: #333;
}
/* 服务 */
.server{
    width: 100%;
    height: 211px;
    float: left;
    background: #f9f9f9;
}
.server-ver{
    width: 1200px;
    height: 210px;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
    padding: 23px 0 24px;
    width: 1200px;
}
.server-v{
    width: 920px;
    height: 155px;
    padding-top: 5px;
    border-right: 1px solid #e5e5e5;
}
.server-ver .server-v dl{
    width: 153px;
}
.server dl{
   float: left;
}
.server dt{
    font-size: 14px;
    color: #3a3a3a;
}
.server dt p{
    font-size: 14px!important;
    padding-bottom: 7px;
    color: #333;
    display: block;
    border-left: none;
    padding-left: 0;
    line-height: 1.5!important;
    margin-bottom: 0!important;
}
.server dd li{
    line-height: 22px;
    color: #777;
}
.server dd li a{
    color:#777;
    font-size: 10px;
}

.server-r{
    width: 279px;
    min-height: 160px;
    margin-top: 2px;
    text-align: center;
}
.server-r1{
    width: 279px;
} 
.server-r1 dt .title{
    color: #cb242b;
    font-weight: bold;
    font-size: 24px!important;
    padding: 0;
    line-height: 24px;
    display: block;
    border-left: none;
}
.server-r1 dd{
    font-size: 14px;
    color: #333;
}
.server-r1 dd li{
    line-height: 22px;
    color: #777;
}
.server-r1 dd li a{
    color: #333;
}
.tt{
    display: block;
    width: 168px;
    height: 32px;
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #cb242b;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #cb242b;
    cursor: pointer;
    border-radius: 6px;
}
/* 版权 */
.copyright{
    width: 100%;
    height: 124px;
    float: left;
    background: #f9f9f9;
}
.copy{
    padding: 22px 0 22px;
    width: 1200px;
    height: 124px;
    margin: 0 auto;
    color: #666;
    line-height: 1.5;
}
.copy1{
    text-align: left;
    color: #a4a4a4;
    line-height: 20px;
}
.copy1-1{
    width: 82px;
    height: 20px;
    padding: 4px 20px 0 0;
}
.copy1-1 a{
    display: block;
    width: 100%;
    height: 100%;
    color: #4a4a4a;
}
.copy1-1 a img{
    vertical-align: top;
    width: 82px;
    height: 20px;
}
.copy2{
    width: 738px;
    height: 80px;
    float: left;
    margin-left: 30px;
    font-size: 12px;
}
.fg li a{
    color: #777;
    font-size: 12px;
}
.fg li::after{
    content: "";
    width: 1px;
    height: 13px;
    background: #d3d3d3;
    display: inline-block;
    position: relative;
    top: 2px;
    margin: 0 6px;
}
.copy2 a{
    color: #a4a4a4;
    font-size: 12px;
}
.copy2 em{
    padding-right: 3px;
    margin-left: 3px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
.copy3{
    margin-top: 2px;
    float: right;
}
.copy3 a{
    display: block;
    width: 70px;
    margin-left: 17px;
    height: 24px;
    color: #a4a4a4;
    float: left;
}
.copy3 img{
    vertical-align: top;
    width: 70px;
    height: 24px;
}
.footer a:hover{
    color: red;
}
#wr{
    width: 468px;
    height: 290px;
}
#wr img{
    width: 468px;
    height: 290px;
}
#smart,#home,#sell,#brand{
    width: 1200px;
    height: 604px;
    float: left;
}
#wearer,#gence,#rise,#part{
    width: 1200px;
    height: 240px;
    float: left;
}
/* 新品背景颜色 */
.w1{
    background: #68BEFF;
}












